{{ 'index.css' | asset_url | stylesheet_tag }}
<!-- section flavors -->
<section class="standard">
    <div class="flavors">
        <div class="title_f">Taste ALL the flavors.</div>
        <div class="text_f">We aim to make your tastebuds feel some type of way. Each wrap starts with our authentic freshly made falafel patty and is then smothered in one of our award winning spreads before being hand rolled in a soft chewy whole-wheat tortilla.</div>
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}