{{ 'index.css' | asset_url | stylesheet_tag }}
<!-- section front_page -->
<section class="standard">
    <div class="front_page" style="background-image: url(https://cdn.shopify.com/s/files/1/0747/2028/0885/files/Background.png?v=1680899829); width: 100%; background-repeat: none;">
        <div class="title">Fresh 
            Mediterranean 
            street wraps 
            falaFULL of flavor</div>
        <div class="title_b"> <input type="button">
            <div> Try tadah! </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}