{{ 'index.css' | asset_url | stylesheet_tag }}
<section class="standard">
    <div class="monia">
        <section id="container-slider">	
            <div class="conteiner_m">
                <div class="title_m">Tasty-monials</div>
                <div>estrellas</div>
            </div>
            <ul class="listslider">
              <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
              <li><a itlist="itList_1" href="#"></a></li>
              <li><a itlist="itList_2" href="#"></a></li>
            </ul>
            <ul id="slider">
              <li >
                <div class="content_m">
                    <div>
                        <div class="img">
                            <img src="/img/red_halo_1.png" alt="">
                        </div>
                        <div class="text_m">I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
                        </div>
                        <div class="autor_m">Uriel Felipe Munar - Miami, FL</div>
                    </div>
                    <div>
                        <div class="img"><img src="img/red_halo_1_(1).png" alt=""></div>
                        <div class="text_m">I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!</div>
                        <div class="autor_m">Joanne Yildirim – Los Angeles, CA</div>
                    </div>
                    <div>
                        <div class="img"><img src="img/Group.png" alt=""></div>
                        <div class="text_m">So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!</div>
                        <div class="autor_m">Sharon Ferrara Kiefer - Detroit, MI</div>
                    </div>
                </div>
              </li>
              <li >
                <div class="content_m">
                    <div>
                        <div class="img">
                            <img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/red_halo_1.png?v=1680896135" alt="">
                        </div>
                        <div class="text_m">I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
                        </div>
                        <div class="autor_m">Uriel Felipe Munar - Miami, FL</div>
                    </div>
                    <div>
                        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/red_halo_1__1.png?v=1680896138" alt=""></div>
                        <div class="text_m">I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!</div>
                        <div class="autor_m">Joanne Yildirim – Los Angeles, CA</div>
                    </div>
                    <div>
                        <div class="img"><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/Group.png?v=1680896133" alt=""></div>
                        <div class="text_m">So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!</div>
                        <div class="autor_m">Sharon Ferrara Kiefer - Detroit, MI</div>
                    </div>
                </div>
              </li>
           </ul>
         </section>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}