{{ 'index.css' | asset_url | stylesheet_tag }}
<section class="standard">
    <div class="pack">
        <div><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/Wraps_Image.png?v=1680899803" alt=""></div>
        <div class="conteiner_p">
            <div class="title_p">Variety Pack</div>
            <div class="text_p">Sometimes you open the fridge for the fifth time in a row and find yourself staring into the abyss of your fully stocked shelves. You’re not bored, you’re just tired of eating boring food. You're also probably indecisive like us, which is why you should order ALL the flavors we have.</div>
            <a href="" class="button_p"><div class="button_pack"> Try the variety pack </div></a>
        
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}