{{ 'index.css' | asset_url | stylesheet_tag }}
<section class="standard">
    <div class="gallery" 
      style="background-image: url(https://cdn.shopify.com/s/files/1/0747/2028/0885/files/wood_bg_1.png?v=1680899845); width: 100%; background-repeat: none;">
        <div class="yellow">
            <div><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/lemon_garlic_hummus_img_1.png?v=1680899764 alt=""></div>
            <div class="title_g">Lemon Garlic Hummus</div>
            <a href="" class="cont_g"> <div class="text_g" >EXPERIENCE THE FLAVOR</div></a>
                
        </div>
        <div class="red">
            <div><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/caramelized_harissa_img_1.png?v=1680899763" alt=""></div>
            <div class="title_g">Caramelized Harissa</div>
            <a href="" class="cont_g"> <div class="text_g" >EXPERIENCE THE FLAVOR</div></a>
        </div>
        <div class="blue">
            <div><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/garden_veggie_feta_img_1.png?v=1680899766" alt=""></div>
            <div class="title_g">Garden Veggie Feta</div>
            <a href="" class="cont_g"> <div class="text_g" >EXPERIENCE THE FLAVOR</div></a>
        </div>
        <div class="orange">
            <div><img src="https://cdn.shopify.com/s/files/1/0747/2028/0885/files/spicedsweet_harissa_img_1.png?v=1680899765" alt=""></div>
            <div class="title_g">Spiced-Sweet Harissa</div>
            <a href="" class="cont_g"> <div class="text_g" >EXPERIENCE THE FLAVOR</div></a>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}