<section class="standard">
    <div class="footer" >
        <img src="img/Left Image.png" alt="">
        <div class="container_footer">
            <div class="title_footer">
                FalaFULL of flavor
            </div>
            <div class="button_footer"><a href="#">TRY THE VARIETY PACK</a></div>
            <div class="icons_footer">
            <div class="icon_footer"><img class ="img_footer_icon" src="img/fb_icon.png" alt=""></div>
            <div class="icon_footer"><img src="img/ig_icon.png" alt=""></div>
            </div>
        </div>
        <img src="img/Right Image.png" alt="">
    </div>
        <nav>
            <ul>
                <li>HOME</li>
                <li>OUR STORY</li>
                <li>SHOP</li>
                <li>CONTACT</li>
            </ul>
        </nav>
        <div class="end_footer">
            <div>© <div></div>
            <div> 2022 </div>
            <div>TaDah Foods All rights reserved.</div>
        </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}